/* Begin code Ciro*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #CCC;
  color: rgb(48, 47, 47);
}

h1 {
  margin: 10px 0;
  font-weight: 1000;
}

h2{
  color: #ef3455;
  font-weight: 600;
}

p {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(48, 47, 47);
}

.main-content{
  padding-left: 25px;
}

/* einde code Ciro*/
